.main-wrapper{
  width: 50%;
  border: 1px solid #ddd;
  margin: 20px auto;
  padding: 15px;
}
.search-container{
    overflow: hidden;
}
.search-container .form-control{
  width: 100%;
  float: left;
  border-radius: 0;
}
.search-container button {
    box-shadow: none !important;
    border: 1px solid #ddd;
    font-size: 15px;
    padding: 7px 18px;
    background: #11abf4;
    color: #fff;
    position: relative;
    left: -1px;
    font-weight: 500;
}
.card-wrap {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
}
.card-wrap p {
    font-size: 12px;
    color: #454444;
}
.card-wrap .img-wrap {
    width: 100%;
    min-height: 150px;
    border: 1px solid #eeeaea;
}
.card-wrap .img-wrap img {
    width: 100%;
}
.card-wrap .nodata-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}
.card-wrap .nodata-wrap p{
    margin: 0;
}
.view-wrap {
    font-size: 11px;
    color: #8f8e8e;
    margin: 10px 0;
}
.usr-name {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    margin: 8px 0;
    line-height: 2px;
}
